.app.light {
	--bg-color: #edeef0;
	--inverted-bg-color: #141414;

	--primary-color: #000000;
	--secondary-color: #0449e0;

	--inverted-primary-color: #e1e3e6;
	--inverted-secondary-color: #828282;
}
