.navbar {
	width: 100%;
	height: var(--navbar-height);
	background: var(--inverted-bg-color);
	display: flex;
	align-items: center;
	padding: 20px;
}


.links_group{
	margin-left: auto;

}
.link {
	margin-right: 20px;
}

.theme_button{
	background-color: transparent;
	border: none;
	cursor: pointer;
}